@import "color";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 1200px;
  margin: 0 auto;
}
.fix:before,
.fix:after {
  content: "";
  clear: both;
  display: table;
}
a {
  text-decoration: none;
  color: $black;
  transition: 0.3s;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}

/* Background CSS */
.bg {
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $black;
    opacity: 0.75;
    z-index: -1;
  }
}

/* Button CSS */
.btn {
  padding: 10px 40px;
  text-transform: capitalize;
  font-size: 18px;
  display: inline-block;
  border-radius: 3px;
  color: $white;
  &.box-btn {
    background-color: $primary_color;
    transition: 0.3s;
    &:hover {
      background-color: $black;
    }
  }
  &.border-btn {
    border: 2px solid $primary_color;
    padding: 8px 40px;
    transition: 0.3s;
    &:hover {
      border-color: $black;
      color: $primary_color;
    }
  }
}

/* Section Title CSS */

.section-title {
  margin-bottom: 60px;
  h4 {
    text-transform: capitalize;
    font-size: 45px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 25px;
    &:before {
      position: absolute;
      content: "";
      width: 60px;
      height: 2px;
      background-color: $primary_color;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  p{
      max-width: 500px;
      margin: 0 auto;
  }
}

/* Margin & Padding */

@for $i from 1 through 10 {
  .pt-#{$i * 10} {
    padding-top: $i * 10px;
  }

  .pb-#{$i * 10} {
    padding-bottom: $i * 10px;
  }

  .mt-#{$i * 10} {
    margin-top: $i * 10px;
  }
  .mb-#{$i * 10} {
    margin-bottom: $i * 10px;
  }
}

$list: left, center, right, justify;
@each $i in $list {
  .text-#{$i} {
    text-align: $i;
  }
}
